<!DOCTYPE html>
<html>
<body>
<script>
    function myFunction() {
        const str = "Hello world, welcome to the universe.";
        const word = "Hello world";
        const n = str.includes(word);
        if(n){
            res = str.replace(new RegExp(word, "gi"), (match) => `<mark>${match}</mark>`);
            document.getElementById("demo").innerHTML = res;

        }
    }
</script>


<p>Click the button to check where if the string includes the specified value.</p>

<!--<button onclick="myFunction()">Try it</button>-->
<p onmouseenter = "myFunction()">Yau</p>
<p id="demo"></p>

<p><strong>Note:</strong> The includes() method is not supported in IE 11 (and earlier versions).</p>


</body>
</html>
